*,*::after,*::before{
margin: 0;padding: 0;box-sizing: border-box;

}
a{
    color: black;
    text-decoration: none;
}
.sds{
    color: red;
    background-color:  black;
}
.ulnav{
    list-style-type: none;
    padding: 2rem  0rem;
    margin: 0;
}
p,ul,li,a{
    padding: 0 ;
    margin:0 ;
}
@font-face {
    font-family: poppinsBlack;
    src: url(../font/Poppins-Black.ttf);
}
@font-face {
    font-family: poppinsBold;
    src: url(../font/Poppins-Bold.ttf);
}
@font-face {
    font-family: poppinsEBold;
    src: url(../font/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family:poppinsELight ;
    src: url(../font/Poppins-ExtraLight.ttf);
}
@font-face {
    font-family: poppinsLight;
    src: url(../font/Poppins-Light.ttf);
}
@font-face {
    font-family: poppinsMedium;
    src: url(../font/Poppins-Medium.ttf);
}
@font-face {
    font-family: poppinsRegular;
    src: url(../font/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppinsSBold;
    src: url(../font/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: poppinsThin;
    src: url(../font/Poppins-Thin.ttf);
}
body{
    overflow-x: hidden;
    font-family: poppinsBold;
}
.parent{
    width: 100%;
    background-color: #c1282a;
    padding: 1.5rem 0rem;

}
.ulnav2{
    list-style-type: none;
}
.ulnav2>li{
    margin: 0 1rem;
}
.sizeicons{
    font-size: .7rem;
    display: flex;
    margin: 0px 10px;
    align-items: center;
    
}
.sdimg{
    filter: opacity(25%);
}
.imgabs{
    right: 6%;
    top: 0;
    object-fit: cover;
    z-index: 90;
    height: 100%;
}
.figabs{
    left: 10%;
    top: 50%;
    width: 30%;
    transform: translate(0% , -50%);
}
.figabs>h4{
    color: rgb(193, 40, 42);
}
.figabs>h2{
    padding: 1rem 0rem;
}
.figabs>p{
    padding-bottom: 1rem;
    font-size: .8rem;
    font-family:poppinsRegular ;
}
.figabs>div{
    padding-top: 2rem;
}
.figabs>div>a{
    box-shadow: 5px 6px 150px  black;
    padding: 1.2rem;
    border-radius: 4px;
    font-family:poppinsBold ;
    font-size: .9rem;
    background-color: #c1282a;
    color: white;
    transition: .4s ease-in-out;
}
.figabs>div>a:hover{
    background-color: transparent;
    color: #c1282a;
    box-shadow: 2px 3px 50px  black;
}
.nimradius{
    display: flex;
    width: 300px;
    height: 300px;
    background-color: #c1282a;
    position: absolute;
    right: 7%;
    top: 20%;
    border-radius: 60% 40% 30% 40%;
    animation: radius2 15s linear infinite;
    z-index: 50;
    transform: translate(0px , 0px);
}
@keyframes radius2 {
    0%{
        border-radius: 60% 40% 30% 40%;
        transform: translate(0px , 0px);
        }
        15%{
            border-radius: 50% 70% 65% 70%;
            transform: translate(60px , 0px);
        }
        30%{
            border-radius: 70% 40% 45% 50%;
            transform: translate(120px , 0px);
        }
        45%{
            border-radius: 50% 70% 100% 85%;
            transform: translate(60px , 0px);
        }
        55%{
            border-radius: 80% 45% 50% 65%;
            transform: translate(0px , 0px);

        }
        65%{
            border-radius: 40% 85% 80% 70%;
            transform: translate(-60px , 0px);
        }
        75%{
            border-radius: 80% 60% 60% 45%;
            transform: translate(-120px , 0px);
        }
        90%{
            border-radius:35% 100% 90% 80%  ;
            transform: translate(-60px , 0px);

        }
        100%{
            border-radius: 60% 40% 30% 40%;
            transform: translate(0px , 0px);
        }
    
}
